src/ui_app/node_modules
src/ui_app/src/glider
src/ui_app/dist/heap/img/
src/ui_app/dist/heap/css
src/ui_app/dist/heap/i18n
src/ui_app/dist/heap/*.js
src/ui_app/dist/heap/*.map
src/ui_app/dist/heap/*.app.html
src/ui_app/src.total
src/ui_app/src/i18n/*
src/ui_app/package-lock.json
src/ui_app/dist/app/css/
src/ui_app/src/css/bulma
src/ui_app/src/css/bulma-0.7.5/
src/ui_app/src/css/css/
src/ui_app/src/css/desktop.html
src/ui_app/src/css/hand.html
src/ui_app/src/css/wall.html
