html,body { 
  font-family: 'Open Sans', serif;
  transition: 0.3s;
  padding: 0.5rem;
/*  font-size: 14px;
  font-weight: 300;
  */
  animation: fadeEffect 1s;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 0.5rem;
}

input[type=radio] {
    transform: scale(1.5);
    margin: 0.5rem;
}

.container{
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none !important;
  width: 100% !important; 
}

.navbar {
  background-color: red !important;
}

.navbar .container {
  display: block !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none !important;
  width: 100% !important;
}

.navbar .container .navmenu{
  flex-grow: 1 !important; 
  flex-shrink: 0 !important; 
  display: flex !important;
}

.navbar .container .navmenu .nmitem{
  justify-content: flex-end !important; 
  margin-left: auto !important; 
  display: flex !important; 
  font-size: 2rem !important;
  padding: 0 !important;
  padding-right: 0.5rem !important;
}

.navbar .container .navbar-brand .navbrandlogoitem {
  padding: 0 !important;
}


.logo {
  padding-left: 0.5rem !important;
  max-height: 2.75rem !important;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.baseSection{
    padding: 0.5rem !important;
}

.baseContainer{
    margin: 0;
    max-width: 100%;
    width: 100%;
}


.is-pointer{
  pointer-events: all !important;
}