/*
    The MIT License:

    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and 
    associated documentation files (the "Software"), to deal in the Software without restriction, 
    including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
    and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, 
    subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial 
    portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT 
    NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. 
    IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
    WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION 
    WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

    Copyright 2019,2020 Ali Erkan IMREK <alierkanimrek@gmail.com>
*/








html,body { 
  font-family: 'Open Sans', serif;
}

div{ 
  animation: fadeEffect 0.2s;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 0.5rem;
}

input[type=radio] {
    transform: scale(1.5);
    margin: 0.5rem;
}

.container{
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none !important;
  width: 100% !important; 
  animation: fadeEffect 0.5s;
}

.navbar {
  background-color: red !important;
}

.navbar .container {
  display: block !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: none !important;
  width: 100% !important;
}

.navbar .container .navmenu{
  flex-grow: 1 !important; 
  flex-shrink: 0 !important; 
  display: flex !important;
}

.navbar .container .navmenu .nmitem{
  justify-content: flex-end !important; 
  margin-left: auto !important; 
  display: flex !important; 
  font-size: 2rem !important;
  padding: 0 !important;
  padding-right: 0.5rem !important;
}

.navbar .container .navbar-brand .navbrandlogoitem {
  padding: 0 !important;
}


.logo {
  padding-left: 0.5rem !important;
  max-height: 2.75rem !important;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


.baseSection{
    padding: 0.5rem !important;
}

.baseContainer{
    margin: 0;
    max-width: 100%;
    width: 100%;
}


.is-pointer{
  pointer-events: all !important;
}