[LOG]
log_file = /var/rplexus/rplexus.log
log_level = DEBUG 

[SERVER]
domain = rplexus.net
server_name = server
server_node = root
db_ip = 127.0.0.1
db_username = rpadmin
db_password=
db_port = 27017
outgoing_path = /var/rplexus/outgoing
maintenance = no
pass_key = 12345678
cookie_key = 12345678

[USERS]
session_timeout= 5
persistent_session_days = 30
banned_names = admin,administrator
admin_users = myname
signup = yes
node_limit = 3